Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ 'https://discord.fmkc.fi' }}">Join Discord</a></li>
  <li><a href="{{ '/wiki/3d-printing/filament-reviews' | relative_url }}">Filament Reviews</a></li>
  <li><a href="{{ '/wiki/configurations/qmk-files' | relative_url }}">QMK files</a></li>
  <li><a href="{{ '/wiki/configurations/via-files' | relative_url }}">VIA files</a></li>
  <li><a href="{{ '/wiki/configurations/vial-files' | relative_url }}">VIAL files</a></li>
</ul>
